@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	  margin: 0;
  padding: 0;
}
#typewr {
	  font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 35px;
}

@media only screen and (max-width: 820px) {
   #typewr { 
      font-size: 24px; 
	    font-family: 'Poppins', sans-serif;

   }
}

body {
  /* background-image: url("./assets/media/main.jpg"); */
  /* background: linear-gradient(to right, #36d1dc, #5b86e5); */
  background: linear-gradient(to right, #ff00cc, #333399); 
  /* background: linear-gradient(to right, #fc5c7d, #6a82fb); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
  color: black;
}

.header {
	font-family: 'Helvetica', sans-serif;
	color: white;
	font-size: 50px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

https://discord.com/channels/@me/985097608374657054
https://github.com/NullCode1337/journ-bot/edit/main/app.py
https://web.whatsapp.com/
https://dashboard.heroku.com/apps/whatsapp-cloud-bot/settings
https://nullcode1337.github.io/donate/index.html
https://kinsta.com/blog/web-safe-fonts/
file:///I:/Files%20(I)/Language/HTML%20+%20HTA/NullCode1337.github.io/projects/index.html?
https://tvmuse.app/ep/mr-robot-season-4-episode-2/
http://localhost:8081/
https://www.youtube.com/watch?v=htGfnF1zN4g
https://codepen.io/Hyperplexed/pen/MWQeYLW
https://www.google.com/search?q=coinbase+commerce&btnK=Google+Search&source=hp&ei=rcE3Y9uhJZmZseMPrLC4uAk&iflsig=AJiK0e8AAAAAYzfPvS6Nqo9NeYwTxmYkmU-QsEyrh78I&ved=0ahUKEwibrK24mL76AhWZTGwGHSwYDpcQ4dUDCAc&uact=5&oq=chromium+web+store&gs_lcp=Cgdnd3Mtd2l6EAMyBggAEA0QEzIICAAQHhAWEBMyCAgAEB4QFhATMgwIABAeEA8QFhAKEBMyCAgAEB4QFhATMggIABAeEBYQEzIKCAAQHhAWEAoQEzoFCAAQxAI6BQgAELEDOgsIABCABBCxAxCDAToLCC4QgAQQsQMQ1AI6CAgAELEDEIMBOgsILhCxAxDHARDRAzoOCC4QsQMQgwEQxwEQrwE6EQguEIAEELEDEIMBEMcBENEDOgUILhDEAjoICAAQgAQQsQM6BQgAEIAEOgsILhCABBCxAxCDAToECAAQEzoMCC4QxwEQrwEQDRATOgoILhDHARCvARATOgYIABAeEBY6CAgAEB4QFhAKOgYIABAKEBNQAFj2JWDEJmgFcAB4AIAB0wGIAbsbkgEGMC4xNy4ymAEAoAEBsAEA&sclient=gws-wiz
https://linuxhint.com/make-button-link-another-page-html/#:~:text=In%20HTML%2C%20a%20button%20link,a%20link%20on%20the%20button.
https://www.creativebloq.com/typography/free-script-cursive-fonts-121310105
https://www.fonts.com/font/canada-type/apricot/apricot
https://www.dafont.com/halohandletter.font?text=hello&psize=l
chrome://extensions/
