@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	  margin: 0;
  padding: 0;
}
#typewr {
	  font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 35px;
}

@media only screen and (max-width: 820px) {
   #typewr { 
      font-size: 24px; 
	    font-family: 'Poppins', sans-serif;

   }
}

body {
  /* background-image: url("./assets/media/main.jpg"); */
  /* background: linear-gradient(to right, #36d1dc, #5b86e5); */
  /* background: linear-gradient(to right, #407585, #1cb5e0);  */
  background: linear-gradient(45deg, #fc5c7d, #6a82fb);
  background-repeat: no-repeat;
  background-size: 200%;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
  color: black;
  transition: background-position 1s;
  animation: animate 5s infinite alternate;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

@keyframes animate {
	0% {background-position: left;}
	100% {background-position: right;}
}