/* aHR0cHM6Ly9zdGFja292ZXJmbG93LmNvbS9xdWVzdGlvbnMvMTI2MDkxMTAvcmVzcG9uc2l2ZS1jc3MtYmFja2dyb3VuZC1pbWFnZXM */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@font-face {
  font-family: 'Rampage';
  src: url("../assets/fonts/rampage.ttf");
}
@font-face {
  font-family: 'FlixNormal';
  src: url("../assets/fonts/aquire.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: white;
}

        section {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul#loader {
            width: 450px;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        ul#loader li {
            width: calc(100% / 5);
            height: 6px;
            background-color: rgba(255,255,255,0);
            box-shadow: inset 0 0 10px 1px rgba(117,182,255,0.4),
                            0 0 20px rgba(117,182,255,0.1);

            animation: loading 4s steps(6) infinite;
            animation-delay: calc(2s * var(--i));
        }

        @keyframes loading {
            0%, 100% {
                background-color: rgba(255,255,255,0);
                box-shadow: inset 0 0 10px 1px rgba(117,182,255,0.4),
                            0 0 20px rgba(117,182,255,0.1);
            }

            50% {
                background-color: rgba(255,255,255,1);
                box-shadow: inset 0 0 10px 1px rgba(117,182,255,0.5),
                            0 0 20px rgba(117,182,255,1);
            }
        }
