@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #51576d;
  color: white;
}

@layer base {
  @font-face {
    font-family: "Segoe Script";
    src: url("/fonts/segoesc.ttf");
    font-weight: normal;
    font-display: swap;
  }
}

.def-shadow {
  @apply shadow-lg shadow-slate-500/50;
}
