@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

@layer base {
  @font-face {
    font-family: "Segoe Script";
    src: url("/segoesc.ttf");
    font-weight: normal;
    font-display: swap;
  }
}
